* { 
  margin: 0; 
  padding: 0; 

}

html,body {
	border: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-user-select:none;
  -moz-user-select:none;
  -khtml-user-select:none;
  font-family: 'Open Sans', monospace;
  font-size:100%;
  line-height:1.125em;
  color: #FFFFFF;
  background-color: #000000;
}

a { color: #FC0; cursor: pointer; }



.button {
    display: inline-block;
    padding: 1px 10px;
    border-radius: 4px;
    cursor: default;
    color: #FFF;
    text-shadow: #111 1px 1px 1px;
    background: #4d90fe;    
    background: -ms-linear-gradient(#4d90fe, #4787ed);      
    background: -o-linear-gradient(#4d90fe, #4787ed);    
    background: -moz-linear-gradient(#4d90fe, #4787ed);
    background: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
}

.checkbox {
  display: inline-block;
  position: relative;
  padding: 1px 10px;
  cursor: default;
  font-weight:bold;
  background: #4B4947;
  background: -ms-linear-gradient(#4B4947, #32302D);    
  background: -o-linear-gradient(#4B4947, #32302D);    
  background: -moz-linear-gradient(#4B4947, #32302D);  
  background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));
  box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
  -webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
}

.checked {
   background: #272727;
   box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
   -moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
   -webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}

.button:active {
    background: #272727;
    box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
    -webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}




select {
  text-overflow: ellipsis;
  color: white;
  border: 0;
  padding: 1px 10px;
  font-weight: bold;
  border-radius: 4px;
  background: rgb(45, 43, 41);
}

.modelSelect {
  font-size: 16px;
  padding: 1px;
}

option  {
   color: white;
   background: black;
}


.caption { 
	font-weight: bold;
	font-size:14px;
}


.triangle {
  float:left;
}

.ui-slider-handle {
    cursor: default;
    position: absolute;
    top: 3px;    
    width: 6px;
    height: 18px;
    background: #4B4947;
    background: -ms-linear-gradient(#4B4947, #32302D);
    background: -o-linear-gradient(#4B4947, #32302D);    
    background: -moz-linear-gradient(#4B4947, #32302D);
    background: -webkit-gradient(linear, left top, left bottom, from(#6B6967), to(#52504D));
    box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;    
    -moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    -webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
    margin: -10px 0px;
    border-radius: 3px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 3px;
}

.ui-slider-handle:hover {
    background: -o-linear-gradient(#6B6967, #42403D);
    background: -moz-linear-gradient(#6B6967, #42403D);
    background: -webkit-gradient(linear, left top, left bottom, from(#6B6967), to(#42403D));
    box-shadow: 0 0 4px 4px #333;

  
}


.ui-slider-range { height: 3px; border-radius: 3px; background: #4d90fe; position: absolute;  display: block;  }

.slider { 
    position: relative;
    margin: 8px 0 0 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #555;
	  width:120px;
	  top: -1px;
	  background: #111;
    height: 3px;
    border-radius: 3px;
	  float:left; 
}


.sliderBox {
  padding: 0 0 0 8px;
}


.tipable {
  overflow: hidden;
  position: relative;
}
.tipable:hover {
  overflow: visible;
}

.tipable .tooltip {
  display: block;
  opacity: 0.0;
  z-index: -2;
  position: absolute;
  background: rgba(40,40,40,0.7);
  left: 0px;
  top: 18px;
  width: 200px;
  -webkit-transition-property: opacity margin; 
  -webkit-transition-duration: 0.5s;
  font-size: 14px;
  color: white;
  border-radius: 5px;  
  margin: 0 0 0 190px;
}

.tipable:hover .tooltip {
  opacity: 1.0;
  display: block;
}


.ui-state-focus {
    outline: none;
}


.slider[disabled] {
  color: gray;
  background: #333;
}

/* the input field */
.range {
	border:1px  #ddd;
  background: #333;
  color: white;
  font-size:16px;
  font-weight:bold;
	margin:1;
	padding:1;
	text-align:center;
	width:58px;
	border-radius:2px;
  background: rgb(25,75,100);
  box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;  
  -moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
  -webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}


.range[disabled] {
  background: #222;
  color: gray;
}


.text {
	border:1px  #ddd;
  background: #333;
  color: white;
  font-size:16px;
  font-weight:bold;
	margin:1;
#	text-align:center;
	width:140px;
	border-radius: 2px;
  padding: 6px 15px 0 15px;
  background: rgb(25,75,100);
  box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;  
  -moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
  -webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}

.button:hover,
select:hover,
select:focus,
.text:hover,
.text:focus,
.range:hover,
.range:focus {
  outline: none;
#  color: black;
#  background: white;
#  background: rgb(35,75,200);
}


.label {
  -moz-user-select:none;
  z-index: 3;
  position: absolute;
  background: rgba(150,150,150,0.5);
  background: -ms-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.0));    
  background: -o-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.0));    
  background: -moz-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.0));    
  background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.0)));    
	font-weight: bold;
	font-size:14px;
  border-radius: 2px;

}


.container {
#  overflow: hidden;
  border: 0px;
  z-index: 2;
  position: absolute;
  padding: 4px;
}


.boxContent {
   position: relative;
   width: 100%;
   background: #272727;
   background-color: rgba(39,39,39, 0.5);
   box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
   -moz-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
   -webkit-box-shadow: inset 0 0 10px #070707, inset 0 0 5px #070707, 0 1px 0 #4B4947;
}



#uiContainer {
  padding: 0;
  width: 190px;
  top: 10px;
  left: 10px;

  color: white;
  background: rgba(95, 93, 91, 0.5);
#  background: -ms-linear-gradient(rgba(95, 93, 91, 0.5), rgba(70,78,75, 0.5));
#  background: -o-linear-gradient(rgba(95, 93, 91, 0.5), rgba(70,78,75, 0.5));
#  background: -moz-linear-gradient(rgba(95, 93, 91, 0.5), rgba(70,78,75, 0.5));
#  background: -webkit-gradient(linear, left top, left bottom, from(rgba(95, 93, 91, 0.5)), to(rgba(70,78,75, 0.5)));
#  box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;  
#  -moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
#  -webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
  font-size: small;
  border-radius: 5px;  
}



.menu { 
  color: white;
	font-size: 16px;
  float: left; 
  position: relative;
}

.menu:hover { 
  color: black;
  background: white;
}


.menu .boxContent  {
  list-style-type: none;
  overflow: none;
  position: absolute; 
  width: 190px;
#  z-index: 100; 
  display: none;  
}

.menu:hover .boxContent {
    display: block;
    cursor: pointer;
}


.wert {
# -webkit-user-select:auto;
# -moz-user-select:auto;  
}

#infoContainer {
  position: absolute;
  width: 240px;
  top: 0px;
  right: 0px; 
  font-size: 12px;
}


#infoContainer table {
  width: 100%;
}

.infoHeader {
  color: #AAA;
  font-size: 12px;
  border-bottom:1px solid #AAA;
}

#infoContainer td {
  width: 120px;
  text-align: right;
  vertical-align: bottom; 
}

#playbackContainer {
  z-index: 2;
  position: absolute;
  color: white;
  background-color: rgba(150,150,150,0.2);
  bottom: 10px;
  width: 100px;
  height: 100px;
  right: 50%;
}

#playback {
  margin-left: auto;
  margin-right: auto;
}

#playback .button {
    float: left;
    line-height: 27px;
    margin: 7px 0 0 7px; 
}


#debugContainer {
  display:none;
  bottom: 26px;
  right: 10px;
}


#impressumContainer {
  text-align: right;
  position: absolute;
  font-size: 0.75em;
  opacity: 0.15;
  float: right;
  bottom: 10px;
  right: 10px;

}
#impressumContainer a {
  color: #FFF;
  text-decoration:none;
}
#impressumContainer a:hover {
  text-decoration:underline;
}
#impressumContainer:hover {
  opacity: 0.4;
}

#legendContainer {
  float: right;
  bottom: 10px;
  right: 10px;
  font-weight:bold;
}

.center {
  text-align: center;
  width: 100%;
}

#splash {
  font-family: sans-serif;
  text-align: center;
//  position: absolute;
  font-size: 18px;
  
  width: 500px;
  z-index: 5;
  margin: 15em auto 0;
  background-color: rgba(45, 43, 41, 0.9);
//  background: -o-linear-gradient(rgba(95, 93, 91, 0.5), rgba(70,78,75, 0.5));
//  background: -moz-linear-gradient(rgba(95, 93, 91, 0.5), rgba(70,78,75, 0.5));
//  background: -webkit-gradient(linear, left top, left bottom, from(rgba(95, 93, 91, 0.5)), to(rgba(70,78,75, 0.5)));
  box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
  -moz-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
  -webkit-box-shadow: inset 0 1px 0 #5B5957, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111;
  border-radius: 5px;
}

#splashStatus {
  padding: 1em;
  border-top: 3px dashed #000;
}

.arrow-down {
  margin: 2px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 12px solid #888;
}

.arrow-right {
  margin: 0 4px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #888;  
}

canvas {
//  position: absolute;
//  top: 0px;
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
}




